.emissionsContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emissionsContent{
    border: solid;
    padding-top: 25px;
    background-color: rgba(109, 107, 107, 0.664);
    border-radius: 20px;
    border-width: 1px;
    border-color:rgb(109, 107, 107);
    width: 450px;;
    height: 275px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input{
    display: inline-block;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-color:rgb(109, 107, 107);
    border-width: 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    line-height: 25px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input:focus{
    outline: none;
}

.calculate{
    display: inline-block;
    font-size: 15px;
    background-color:#7297A0;
    color: #fff;
    border: solid;
    border-width: 1px;
    border-color:rgb(109, 107, 107);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 25px;
}

.calculate:hover{
    cursor:pointer;
}

.emissionsBottom{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.outputContainer{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    height: 150px;;
    width: 350px;
    /*background-color: #6e8a67b0;*/
    /*border: solid;*/
    /*border-color:#89ad808a;*/
    /*border-width: 1px;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.outputLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 2px;
}

.outputRight{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 2px;
}

.loading{
    width: 100%;
    height: 100%;
}

.load{
    display:block;
    margin:auto;
}

.outputTextLeft{
    font-size: 15px;
    color: #fff;
    text-align: left;
    padding-top: 20px;
    height: 20px;
}

.outputTextRight{
    font-size: 15px;
    color: #fff;
    text-align: right;
    padding-top: 20px;
    height: 20px;
}

.site{
    text-decoration: none;
    font-size: 15px;
    color: #6e8a67b0;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.summary{
    font-size: 12px;
    color: rgb(199, 199, 199);
    padding-left:50px;
    padding-right: 50px;

}

@media only screen and (max-width: 745px) {
    .outputTextLeft, .outputTextRight{

    }

    .emissionsContent{
        width: 300px;
    }

    .outputContainer{
        width: 250px;
    }

    .emissionsBottom{
        height: 150px;
    }

    .summary{
        font-size: 10px;
        padding-left:20px;
        padding-right: 20px;
    }
  }