.landingContainer{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color:transparent;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.link{
    padding-top: 30px;
    padding-right: 30px;
}

.icon{
}

.icon:hover{
    fill:rgb(107, 107, 107);
    transition: .5s;
}

.spacer{
    height: 25vh;
}

.landingContent{
    width: 100vw;
    margin: auto;
}

.title{
    font-size: 100px;
    color: rgb(199, 199, 199);
    font-family: 'Inter', sans-serif;
}


.underlineContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.underline{
    width: 500px;
    height: 2px;
    background-color: rgb(199, 199, 199);
}

.information{
    font-size: 20px;
    color: rgb(199, 199, 199);
}

.comingSoon{
    font-size: 30px;
    color: rgb(199, 199, 199);
}

@media only screen and (max-width: 1000px) {
    .title{
        font-size: 60px;
    }

    .underline{
        width: 200px;
        height: 2px;
    }

    .comingSoon{
        font-size: 15px;
    }

    .information{
        font-size: 10px;
    }
  }
