.landingContainer{
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0;
    width: 100vw;
    background-color:transparent;
}

.spacer{
    height: 20vh;
}

.landingContent{
    width: 100vw;
    margin: auto;
}

.title{
    font-size: 100px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.underlineContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.underline{
    width: 500px;
    height: 2px;
    background-color: white;
}

.information{
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.comingSoon{
    margin-top: 20px;
    font-size: 30px;
    color: white;
}

@media only screen and (max-width: 745px) {
    .spacer{
        height: 10vh;
    }

    .title{
        font-size: 60px;
    }

    .underline{
        width: 200px;
        height: 2px;
    }

    .comingSoon{
        font-size: 15px;
    }

    .information{
        font-size: 10px;
    }
  }
