.landingContainer {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: calc(100vh - 100px);
}

.spacer {
  height: 20vh;
}

.landingContent {
  width: 100vw;
  margin: auto;
}

.title {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.underlineContainer {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.underline {
  width: 500px;
  height: 2px;
  background-color: none;
}

.information {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  line-height: 40px;
}

.buttonContainer {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
}

.landingButton {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #007f5f;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
}

.landingButton:hover {
  color: rgb(199, 199, 199);
  transition: 0.5s;
}

.landingButtonText {
  margin-top: 14px;
  color: white;
}

.nftreeStats {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: none;
  text-align: center;
  column-count: 3;
}

.statCol {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.statValue {
  font-size: 40px;
}

.attribution {
  position: absolute;
  bottom: 0pt;
  right: 0pt;
  font-size: 12px;
  text-decoration: none !important;
  color: #2C4655 !important;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 80px;
  }

  .underline {
    width: 400px;
    height: 2px;
  }

  .information {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 60px;
  }

  .buttonContainer {
    width: 200px;
  }

  .underline {
    width: 300px;
    height: 2px;
  }

  .information {
    font-size: 10px;
  }

}
