.navContainer {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  height: 75px;
}

.navbarLeft {
  display: flex;
  flex-direction: row;
}

.logo {
  text-decoration: none;
  color: #fff;
  height: 50px;
  padding-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.textLink {
  text-decoration: none;
  color: #fff;
  padding-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.textLink:hover {
  color:rgb(199, 199, 199);
  transition: .5s;
}

.space {
  margin:auto;
}

.navbarRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logoLink {
  padding-right: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.icon:hover {
  fill:rgb(199, 199, 199);
  transition: .5s;
}

@media only screen and (max-width: 700px) {
  .navbarLeft {
    font-size: 10px; 
  }

  .navbarRight {
    margin-top: 30px;
    height: 120px;
    flex-direction: column;
  }

  .logoLink {
    padding-top: 0px;
    padding-right: 20px;
  }

  .logo {
    text-decoration: none;
    color: #fff;
    height: 40px;
    padding-left: 20px;
  }

  .logoImage {
    height: 40px;
    width: 40px;
  }

  .textLink {
    text-decoration: none;
    color: #fff;
    padding-top: 0px;
    padding-left: 20px;
  }

  .logoLink {
    margin-top: 20px;
    padding-right: 30px;
    height: 30px;
  }
}