* {
  box-sizing: border-box;
}

.App {
  height: auto;
  width: 100%;
  text-align: center;
  overflow:hidden;
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
}

.landingBackground {
  
  /*
  background: rgb(201,255,208);
  background: linear-gradient(180deg, rgba(201,255,208,0.6954131994594712) 33%, rgba(255,255,255,1) 100%);
  */
  background-image: url('./assets/test.jpg');
  background-position: center;
  background-size: cover;
}

.loading {
  font-size: 100px;
  color: #fff;
}
